<ion-view view-title="Home">
    <ion-content padding="true">
        <div class="col" ng-if="driver!='undefined'"><h3>Welcome, {{driver.driver_name}} ({{driver.driver_id}})</h3></div>
        <div class="row">
            <div class="col">               
                <a class="button button-block button-outline button-calm" ui-sref="app.etalists">                    
                    <img ng-src="img/tanker_truck.png"  style="width:100%">                
                    <b>My ETD</b>
                </a> 
             </div>
            <div class="col">                
                <a class="button button-block button-outline button-calm" ui-sref="app.summary">
                    <img ng-src="img/Icon-summary.png"  style="width:100%"/>
                    <b>Summary</b>
                </a>             
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="button button-block button-outline button-calm" ui-sref="app.tripsheet">
                    <img ng-src="img/print.png" style="width:100%" />
                    <b>Trip Details</b>
                    </a>                  
            </div>
            <div class="col">
                <a class="button button-block button-outline button-calm" ui-sref="app.about">
                    <img ng-src="img/get_info.png" style="width:100%" />
                    <b>About</b>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>