<ion-view view-title="Home">
    <ion-content padding="true">
        <div class="row">
            <div class="col">               
                <a class="button button-block button-outline button-calm padding-top" href="#/app/etalists">                    
                    <img ng-src="../img/wlm.png" style="width:100%" /> <br />                 
                    <b>My ETD</b>
                </a> 
             </div>
            <div class="col">                
                <a class="button button-block button-outline button-calm padding-top" href="#">
                    <img ng-src="../img/Icon-summary.png" style="width:100%" />
                    <br />
                    <b>Summary</b>
                </a>             
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="button button-block button-outline button-calm padding-top" href="#">
                    <img ng-src="../img/print.png" style="width:100%" />
                    <br />
                    <b>TripSheet</b>
                    </a>                  
            </div>
            <div class="col">
                <a class="button button-block button-outline button-calm padding-top" href="#">
                    <img ng-src="../img/get_info.png" style="width:100%" />
                    <br />
                    <b>About</b>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>