<ion-view view-title="Home">
    <ion-content padding="true">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-divider">My ETA</div>
                    <div class="item item-text-wrap">new...</div>
                    <a href="#/app/etalists" class="item item-text-wrap">dump</a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-divider">My Trips</div>
                    <div class="item item-text-wrap">content</div>
                    
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>