<ion-view title="About">

    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="img/ic_menu_about_small.png" />
                <h2> ETD Mobile Poc </h2>
                <p>Version 1.0</p>
            </div>
            <div class="item item-text-wrap">
                This is a demo application to view driver's ETD details and users can modify current trip's ETD details.
                Apart from that user can also see current trip details and summary of driver's ETD details.
            </div>
        </div>
    </ion-content>
</ion-view>
