<ion-view title="Eta Details">
    
    <ionic-pane padding="true">
        <ion-header-bar align-title="center" class="bar-positive">
        </ion-header-bar>
        <ion-content padding="true" class="has-header">           
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Trip Id</span>
                    <input type="text" readonly="readonly" placeholder="{{etaDetails.trip_id}}" />
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Origin</span>
                    <input type="text" readonly="readonly" placeholder="{{etaDetails.Origin}}" />
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Destination</span>
                    <input type="text" readonly="readonly" placeholder="{{etaDetails.destination}}" />
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">ETD Date</span>
                    <input type="date"   value="{{etaDetails.Etd_Date}}" required />
                </label>
                <button class="button button-full button-positive">Save</button>
            </div>           
        </ion-content>
        </ionic-pane>
</ion-view>