<ion-view title="Eta Details">
    
    <ionic-pane padding="true">
        <ion-header-bar align-title="center" class="bar-positive">
        </ion-header-bar>
        <ion-content padding="true" class="has-header">
            <h3 class="title">{{DriverId}}, {{DriverName}}</h3>
            
            <div class="" ng-repeat="item in etaDetails">
                <div class="card">
                    <div class="item item-divider">{{item.tripId}}</div>
                    <div class="item ite-text-wrap">{{item.location}}</div>
                    <div class="item item-divider">{{item.eta}}</div>
                </div>
            </div>
        </ion-content>
        </ionic-pane>
</ion-view>