<ion-view view-title="ETD List" >
    
        <ion-content padding="true">
            <h3 class="title">{{driver.driver_id}}, {{driver.driver_name}}</h3>
            
            <div class="list">
                
                        <a class="item item-avatar" ui-sref="app.eta" ng-repeat="item in etaList">
                            <img ng-src="{{item.imgSrc}}" />
                            <h2>Trip Id: {{item.trip_id}}</h2>
                            <p>Date: {{item.Etd_Date}}</p>
                        </a>
                    
            </div>
        </ion-content>
    
</ion-view>